.icon-card{
    width: 15rem;
    height: 15rem;
}
@media  (min-width: 1500px) {
    .icon-card{
        width: 17rem;
        height: 17rem;
    }   
}

@media  (min-width: 1650px) {
    .icon-card{
        width: 18rem;
        height: 18rem;
    }   
}

@media  (min-width: 1750px) {
    .icon-card{
        width: 20rem;
        height: 20rem;
    }   
}