.stat-card-icon{
    width: 50px;
    height: 50px;
    background-color: #faf6f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.stat-card{
    transition: all 0.3s ease-in-out;
}
.stat-card:hover{
    transform: scale(1.07);
}

@media screen and (max-width: 640px) {
    .stat-card h4{
        font-size: 14px !important;
    }
    .stat-card p{
        font-size: 12px !important;
    }
}