/* Default Styles */
.time-text {
    font-size: 1.2rem;
}

.day-date-text {
    font-size: 0.75rem;
}

/* For screens above 1690px */
@media (min-width: 1690px) {
    .time-text {
        font-size: 3.3rem;
    }

    .day-date-text {
        font-size: 1.2rem;
    }

  
}

/* For screens between 1440px and 1689px */
@media (max-width: 1690px) and (min-width: 1441px) {
    .time-text {
        font-size: 2.5rem;
    }

    .day-date-text {
        font-size: 1.1rem;
    }

   
}

/* For screens between 1200px and 1439px */
@media (max-width: 1440px) and (min-width: 1201px) {
    .time-text {
        font-size: 1.8rem;
    }

    .day-date-text {
        font-size: 1rem;
    }

    
}

/* For screens between 1024px and 1199px */
@media (max-width: 1200px) and (min-width: 1025px) {
    .time-text {
        font-size: 1.6rem;
    }

    .day-date-text {
        font-size: 0.9rem;
    }

   
}

/* For screens between 768px and 1023px */
@media (max-width: 1024px) and (min-width: 769px) {
    .time-text {
        font-size: 1.6rem;
    }

    .day-date-text {
        font-size: 0.9rem;
    }

    
}
