.tab-card{
    position: relative;
}
.tab-card::before{
    content: '';
    position: absolute;
    background-color: #007BFF;
    width: 200px;
    height: 200px;
    /* bottom: 0; */
    top: -20%;
    left: -2%;
    transition: transform 0.3s ease-in-out;
    z-index: -1;

}

