/* 
.side-n.active::before,
.side-n:hover::before {
    position: absolute;
    content: "";
    bottom: -2rem;
    right: 300px;
    background: transparent;
    width: 2rem;
    height: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem #f1f2f7;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.side-n.active::after,
.side-n:hover::after {
    position: absolute;
    content: "";
    top: -2rem;
    right: 0;
    background: transparent;
    width: 2rem;
    height: 2rem;
    border-bottom-right-radius: 2.5rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem #f1f2f7;
    transition: all 0.3s ease-in-out;
} */
