.product-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    /* gap: 2rem; */
}

@media screen and (max-width: 640px) {
    .product-card{
        flex-direction: column;
    }
    .product-card .card{
        /* width: 100%; */
        margin-bottom: 1rem;
    }
}