.product-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* gap: 2rem; */
}

@media screen and (max-width: 640px) {
    .product-card{
        flex-direction: column;
    }
    .product-card .card{
        /* width: 100%; */
        margin-bottom: 1rem;
    }
}