.bottom-nav {
  height: 12%;   
  width: 55%;    
  background-color: #292D32; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  border-radius: 1vh; 
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 1rem;
  z-index: 999;
}


/* Individual button items */
.button-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Makes the items flex */
  text-align: center;
  color: white;
  border-right: 1px solid #404B52;
}
.button-item:last-child {
  border-right: none;
}

/* Button styles */
.button {
  padding: 0.5rem;
  border-radius: 50%; /* Rounded buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

/* Specific colors for buttons */
.bg-red {
  background-color: #ee786c; /* Red background */
}

.bg-yellow {
  background-color: #fec610; /* Yellow background */
}

.bg-light {
  background-color: rgba(217, 217, 217, 0.11); /* Light background */
}

/* Text styles */
.button-item p {
  margin-top: 0.5rem;
  font-size: 10px;
  font-weight: 500;
}

@media (min-width: 1400px) {

  .button-item p {
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 500;
  }
  .button {
    padding: 0.5rem;
    border-radius: 50%; /* Rounded buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}