.tab-button{
    position: relative;
    z-index: 100;
}
.tab-button.active{
    background: #F1F2F6;
}

.tab-button-backg{
    width: 140px;
    height: 100px;
    background-color: #ffff;
    position: absolute;
    top: -3%;
    left: 0%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: all .3s ease-in-out;
}
.tab-button-backg::before{
    position: absolute;
    content: "";
    bottom: 20%;
    right: -18%;
    background: transparent;
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    border-bottom-right-radius: 2.5rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem #ffff;
    transition: all 0.3s ease-in-out;
}
.tab-button-backg::after{
    position: absolute;
    content: "";
    bottom: 20%;
    left: -18%;
    background: transparent;
    width: 2rem;
    height: 2rem;
    /* transform: rotate(90deg); */
    border-bottom-right-radius: 2.5rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem #ffff;
    transition: all 0.3s ease-in-out;
}

.tab-card{
    z-index: 100;
    position: relative;
}
.tab-button-backg.hide-after::after {
    content: none;
}
.tab-button-backg.hide-before::before {
    content: none;
}





@media screen and (min-width: 1440px) {
    .tab-card {
        min-height: 750px !important; /* Increase the height */
    }
    .tab-button-backg::before{
        position: absolute;
        content: "";
        bottom: 13%;
        right: -15%;
        background: transparent;
        width: 2rem;
        height: 2rem;
        transform: rotate(90deg);
        border-bottom-right-radius: 2.5rem;
        box-shadow: 0.313rem 0.313rem 0px 0.313rem #fffd;
        transition: all 0.3s ease-in-out;
    }
    .tab-button-backg::after{
        position: absolute;
        content: "";
        bottom: 13%;
        left: -15%;
        background: transparent;
        width: 2rem;
        height: 2rem;
        /* transform: rotate(90deg); */
        border-bottom-right-radius: 2.5rem;
        box-shadow: 0.313rem 0.313rem 0px 0.313rem #ffff;
        transition: all 0.3s ease-in-out;
    }    
}
