.tab-button{
    position: relative;
    
    z-index: 100;
}
.tab-button.active{
    background: #F1F2F6;
}

.tab-button-backg{
    width: 140px;
    height: 100px;
    background-color: #ffff;
    position: absolute;
    top: -3%;
    left: 0%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}
.tab-button-backg::before{
    position: absolute;
    content: "";
    bottom: 17%;
    right: -23%;
    background: transparent;
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    border-bottom-right-radius: 2.5rem;
    box-shadow: 0.313rem 0.313rem 0px 0.313rem #ffff;
    transition: all 0.3s ease-in-out;
}
.tab-card{
    z-index: 100;
    position: relative;
}