@media screen and (min-width: 1920px) {
  .d-asd-amcae-di {
  }

  .card {
    height: 400px !important;
  }

  .card-content-section {
    width: 70%; 
  }

  .card h3 {
    font-size: 3.5rem;
    margin-bottom: 70px; 
  }

  .card h1 {
    font-size: 5rem;
    margin-bottom: 20px; 
  }

  .card p {
    font-size: 1.25rem;
    margin-top: 10px; /* Add top margin to create space between the number and the "Online"/"Offline" status */
  }

  .card .card-content-section > .bordercolor {
    height: 15px; 
  }

  .icon-section img {
    height: 120px; /* Increase the height of the icon */
    width: auto;
    margin-top: 20px; /* Add top margin to create space between the icon and the content */
  }

  .card-content-section .flex {
    gap: 16px; /* Increase the gap between the items inside the card */
  }

  /* Ensure the layout of the card scales properly */
  .card {
    padding: 30px; /* Increase the padding for more space */
  }
}
