@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100;
    scroll-behavior: smooth;
    background-color: #F1F2F7;
    min-height: 100vh;
    font-family: poppins, sans-serif; ;
}
* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}