.allmenu-list a {
  font-size: 12px;
  color:black;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}
.side-nav-item{
    width: 90%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1rem 1.5rem;
}
.side-nav-item:hover{
    background-color: #F1F2F7;
}
.side-nav-item.active{
    background-color: #F1F2F7;
}
